<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shopkipa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ConfirmCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ChangePhoneNumber"
            android:label="Change number"
            android:parentActivityName=".SecurityOptions" />
        <activity
            android:name=".SecurityOptions"
            android:label="Options"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecipesActivity"
            android:label="Recipes"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChangePersonalInfo"
            android:label="Personal Info"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UpdatesActivity"
            android:label="Updates"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SendMessage"
            android:parentActivityName=".HelpActivity" />
        <activity
            android:name=".HelpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SummaryActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MyStock" />
        <activity
            android:name=".AddStock"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.shopkipa.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files" />
        </provider>
    </application>

</manifest>